.skills_container {
  display: flex;
  background: var(--light);
  color: var(--dark);
  width: 100%;
  height: 70vh;
  padding: 3vh;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.2);
}

.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10%;
  justify-content: center;
  align-items: center;
}

.skills_h2 {
  padding: 2vh 0;
  font-size: 3rem;
  color: var(--cyan);
}

.skills_technology{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills_h3 {
    font-size: 2rem;
    margin: 0 10rem;
    color: var(--dark);
  }

@media only screen and (max-width: 960px){
  .skills_container{
      height: 200px;
      width: 100%;
  }

  .skills > h1{
      text-align: center;
      font-size: 25px;
  }
}
