.photo > img{
    width:350px;
    opacity: 0.985;
    border-radius: 150px;
    background-color: rgba(0,0,0,.15);


}

@media screen and (max-width: 1280px){
    .photo > img{
        width:300px;
    }
}


@media screen and (max-width: 960px){
    .photo > img{
        width:300px;
    }
}

@media screen and (max-width: 540px){
    .photo > img{
        width:250px;
    }
}