.about {
  display: flex;
  background-color: #f6f4f1;
  color: black;
  height: 70vh;
  padding: 100px 0 100px 0;
}

.about__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 0 100px 0 100px;
}

.about__desc > h3 {
  margin-bottom: 10px;
  font-size: 42px;
  text-align: center;
}

.about__desc > p {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 22px;
}

.about__desc > ul {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 4fr 4fr;
  margin: 20px;
  padding: 10px;
}

.about__img {
  width: 45%;
  height: 140%;
  display: flex;
  align-self: center;
  overflow: hidden;
}

.cv-button {
  width: 32vh;
  height: 8vh;
}

.button-container {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #f6f4f1;
}

@media only screen and (max-width: 960px) {
  .about {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about__desc {
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about__desc > h3 {
    font-size: 20px;
    text-align: center;
  }

  .about__desc > p {
    font-size: 14px;
    text-align: center;
  }

  .about__img {
    width: 100%;
    margin-bottom: 50px;
  }

  .about__img > img {
    width: 100%;
  }
  .about__desc > ul {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    display: hidden;
  }
  .about__desc > ul li {
    display: hidden;
  }
}

@media only screen and (max-width: 377px) {
  .button-container {
    width: 70%;
    margin: 0 auto;
  }
  .cv-button {
    width: 100%;
  }
  .about__desc > ul {
    grid-template-columns: 3fr 2fr;
    margin: 0 auto;
    overflow: hidden;
  }
}
@media only screen and (max-width: 300px) {
  .about__desc > ul {
    grid-template-columns: 1fr;
    margin: 0 auto;
    overflow: hidden;
  }
}
