

@media only screen and (max-width: 960px) {
  .about {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about__desc {
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about__desc > h3 {
    font-size: 20px;
    text-align: center;
  }

  .about__desc > p {
    font-size: 14px;
    text-align: center;
  }

  .about__img {
    width: 100%;
    margin-bottom: 50px;
  }

  .about__img > img {
    width: 100%;
  }
  .about__desc > ul {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    display: hidden;
  }
  .about__desc > ul li {
    display: hidden;
  }
}

@media only screen and (max-width: 377px) {
  .button-container {
    width: 70%;
    margin: 0 auto;
  }
  .cv-button {
    width: 100%;
  }
  .about__desc > ul {
    grid-template-columns: 3fr 2fr;
    margin: 0 auto;
    overflow: hidden;
  }
}
@media only screen and (max-width: 300px) {
  .about__desc > ul {
    grid-template-columns: 1fr;
    margin: 0 auto;
    overflow: hidden;
  }
}
