*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #bfc7d8;
  --secondary-color: #ffde59;
  --terceary-color: #edb888;
  --others-color: #87929b;
  --prueba-color1: #FF9F1C;
  --prueba-color2: #FFBF69;
  --prueba-color3: #FFFFFF;
  --prueba-color4: #CBF3F0;
  --prueba-color5: #2EC4B6;
  --prueba-radial-color01: -webkit-radial-gradient(center,#FFBF69, #2EC4B6);
  --prueba-radial-color02: -webkit-radial-gradient(bottom, #222C30, #000000);
  --gradient-primary-bottom: linear-gradient(to bottom, #10305810, #0a0011 100%);
  --gradient-primary-top: linear-gradient(to top, #10305810, #0a0011 100%);
  --error-color:#87929b;
  --background-radial-color: -webkit-radial-gradient(#10305810, #0a0011);
  --background-radial-color-secondary: -webkit-radial-gradient(#10305810, #0a001190);
  --background-radial-hover-color: -webkit-radial-gradient(#45581040, #0a001110);
  --input-border-color: #87929b40;
}
.footer{
    width: 100%;
    height: 100vh;
    background: var(--prueba-radial-color02);
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgb(0, 0, 0 ,0.2);
    color: white;
    padding-top: 180px;
    position: fixed;
    z-index: -2;
    bottom: 0;
    left: 0;
}

.footer-info{
    font-size: 35px;
    padding: 30px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer-info > h1{
    padding-bottom: 15px;
}

.footer-contact{
    font-size: 32px;
    padding: 100px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer-sns{
    width: 70%;
    position: absolute;
    bottom: 40px;
    left: 20%;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.sns-links{
    display: grid;
    width:100%;
    grid-template-columns: 4fr 4fr 4fr;
}

.linkedin, .github{
    color: white;
    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
}


.linkedin:hover, .github:hover{
    border-color: white;
    transition: all 0.3s easy-out;
}



@media only screen and (max-width: 960px){
    .footer-info{
        text-align: center;
        padding: 0;
        font-size: 20px;
    }

    .footer-contact{
        font-size: 16px;
        padding: 100px 0 30px 0;
        text-align: center;
    }

    .footer-sns{
        grid-template-columns: 1fr;
        text-align: center;
        width: 70%;
        left: 0;
    }
}